# Giant (compressed) files with training data
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations01024to08191.tar.lz
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations08192to16383.tar.lz
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations16384to24575.tar.lz
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations24576to32767.tar.lz
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations32768to40959.tar.lz
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations40960to49151.tar.lz
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations49152to57343.tar.lz
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations57344to65535.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations01024to08191.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations08192to16383.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations16384to24575.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations24576to32767.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations32768to40959.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations40960to49151.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations49152to57343.tar.lz
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations57344to65535.tar.lz

# Uncompressed training data
heat_maps/simulation_runs/2256x256_3x3_random_iterations0000to0255/*.tar
heat_maps/simulation_runs/2256x256_3x3_random_iterations0000to0255/*.csv
heat_maps/simulation_runs/256x256_3x3_random_iterations0000to0255/256x256_3x3_random_iterations????to????
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/*.tar
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/*.csv
heat_maps/simulation_runs/256x256_full_random_iterations00000to65535/256x256_full_random_iterations?????to?????
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/*.tar
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/*.csv
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations00000to65535/256x256_full_dynamicpower_iterations?????to?????
heat_maps/simulation_runs/256x256_full_dynamicpower_iterations0000to0255/256x256_full_dynamicpower_iterations0000to0031/
tensorflow/fourier/gold_code/input_functions.py
tensorflow/fourier/gold_code/output_coefficients.py
tensorflow/fourier/gold_code/input_functions.pyc
tensorflow/fourier/gold_code/output_coefficients.pyc
tensorflow/fourier/neural_code/dataset
dnn/data
dnn/log
dnn/fft

# Executable/Binary compiler outputs
*.o
heat_visualizer/heat_visualizer
power_map_generator/power_map_generator
tensorflow/gradient/gold_code/gradient
tensorflow/histogram/gold_code/training_data_generator
tensorflow/hotspot/gold_code/hotspot
tensorflow/rnn_basic/gold_code/training_data_generator
tensorflow/fourier/gold_code/fourier

# Python junk
*__pycache__*
*.pyc

# Auto-generated documentation.  Re-run doxygen on the source code to get this
*/html

# Other junk
tensorflow/hotspot/gold_code/output.txt
