*.tmp
applications/binarization/binarization_binarization.json
applications/binarization/binarization_imageBinarization.json
applications/binarization/kernelNames.json
applications/binarization/kernel_binarization.data
applications/binarization/null
applications/binarization/src.nn/binarization_nn.cpp
applications/binarization/src.nn/binarization_nn.cu
applications/binarization/src.nn/bmploader_nn.cpp
applications/binarization/train.data/output/
applications/blackscholes/blackscholes_BlackScholesBodyGPU.json
applications/blackscholes/kernel_BlackScholesBodyGPU.data
applications/blackscholes/src.nn/BlackScholes_nn.cu
applications/blackscholes/test.data/output/
applications/blackscholes/train.data/output/
applications/convolution/convolution_convolutionRowsKernel.json
applications/convolution/src.nn/convolutionSeparable_nn.cu
applications/convolution/train.data/output/
applications/jmeint/fann.config/
applications/jmeint/jmeint_jmeint_kernel.json
applications/jmeint/kernel_jmeint_kernel.data
applications/jmeint/src.nn/
applications/jmeint/test.data/output/locations_intersect_nn.data
applications/jmeint/train.data/output/
applications/meanfilter/fann.config/
applications/meanfilter/kernel_computeMean.data
applications/meanfilter/meanfilter_computeMean.json
applications/meanfilter/null
applications/meanfilter/src.nn/
applications/meanfilter/test.data/output/
applications/meanfilter/tmp.err
applications/meanfilter/train.data/output/
applications/newton-raph/newton-raph_nrpol3_kernel.json
applications/newton-raph/test.data/output/
applications/newton-raph/train.data/output/
bigfile.sh
filename.sh